---
const {} = Astro.props;
---

<section id="kontakt">
  <h2>Kontakt</h2>
  <p>Tutaj znajdzie się treść sekcji kontakt.</p>
</section>

<style>
  section {
    min-height: 100vh;
    padding-top: 5rem; /* To avoid content being hidden behind the fixed header */
  }
</style>
