---
const {} = Astro.props;
---

<section id="regulamin">
  <div class="regulamin-content">
    <h2>Regulamin</h2>
    <ol>
      <li>
        Organizatorem zajęć warsztatów z jazdy na rolkach oraz zajęć fitnessowych
        jest Wyrolowani. Amanda Malkiewicz NIP: 9562169482 z siedzibą w Toruniu
        (dalej jako: Wyrolowani)
      </li>
      <li>
        Za zorganizowanie i prawidłowy przebieg warsztatów odpowiada Amanda
        Malkiewicz instruktor wrotkarstwa z certyfikatem Polskiego Związku Sportów
        Wrotkarskich oraz instruktor sportu ze specjalnością- Fitness.
      </li>
      <li>
        Zgłoszenie udziału w zajęciach jest równoważne z zaakceptowaniem i
        przestrzeganiem regulaminu oraz wyrażeniem zgody na przetwarzanie danych
        osobowych przez Wyrolowani w celach informacyjnych i marketingowych
        zgodnie z ustawą z dnia 29 sierpnia 1997 roku o ochronie danych osobowych
        (U.2015.2135 j.t.).
      </li>
      <li>
        Firma Wyrolowani ma prawo do skreślenia z listy i zakazu wejścia na
        zajęcia osobom zakłócającym porządek, osobom przeszkadzającym w prowadzeniu
        zajęć lub w jakikolwiek inny sposób naruszającym Regulamin.
      </li>
      <li>
        Szkolenie sportowe, organizacja zajęć sportowych z zakresu jazdy na
        rolkach oraz organizacja zajęć fitnessowych i Pilatesu należy do
        statutowych celów Wyrolowani.
      </li>
      <li>
        Osoby uczestniczące w zajęciach zobowiązane są do: przestrzegania zasad
        bezpieczeństwa; bezwzględnego posłuszeństwa instruktorom i opiekunom;
        kultury osobistej i zdyscyplinowania; przestrzegania niniejszego
        regulaminu.
      </li>
      <li>
        Zajęcia odbywają się miejscu wyznaczonym przez instruktora. Uczestnicy
        zajęć nie mogą samodzielnie oddalać się z miejsca zajęć bez zgody
        instruktora.
      </li>
      <li>
        Zabrania się uczestnictwa w zajęciach osobom nietrzeźwym lub będących pod
        wpływem środków odurzających.
      </li>
      <li>
        Każdy z uczestników zobowiązany jest do posiadania sprzętu sportowego oraz
        zabezpieczającego przed upadkami.
      </li>
      <li>
        W miejscu odbywania się zajęć obowiązuje zakaz palenia tytoniu,
        spożywania alkoholu oraz zażywania narkotyków.
      </li>
      <li>
        Firma Wyrolowani nie ponosi odpowiedzialności za nieszczęśliwe wypadki
        powstałe w czasie zajęć. Zaleca się indywidualne ubezpieczenie NNW.
        Wyrolowani nie ponosi również odpowiedzialności za osoby, które nie
        przedstawią zaświadczenia lekarskiego o aktualnym stanie zdrowia i
        ewentualnych innych przeciwwskazaniach do uczestnictwa w zajęciach.
      </li>
      <li>
        W przypadku wystąpienia niepokojących objawów (pogorszenie samopoczucia,
        mdłości, bóle, osłabienie) należy przerwać wykonywanie ćwiczeń i zgłosić
        dolegliwości prowadzącemu zajęcia.
      </li>
      <li>
        Uczestnik zajęć we własnym zakresie wykonuje kontrolne badania lekarskie.
      </li>
      <li>
        Uczestnicy będą informowani o zmianach w regulaminie. W przypadku braku
        akceptacji zmiany w regulaminie możliwa jest rezygnacja z udziału w
        zajęciach oraz otrzymanie zwrotu opłat za zajęcia.
      </li>
      <li>
        W celach promocyjnych firmy Wyrolowani możliwa jest publikacja zdjęć i
        filmów z zajęć, w których bierze udział uczestnik.
      </li>
    </ol>
  </div>
</section>

<style>
  section {
    background-color: #f3f4f7;
    padding-top: 5rem;
    min-height: 100vh;
    font-weight: lighter;
  }
  .regulamin-content {
    min-height: 100vh;
    padding: 7rem 2rem;
    text-align: center;
    max-width: 80ch;
    margin: 0 auto;
  }
  li {
    text-align: justify;
    margin-bottom: 1rem;
  }
  ol {
    list-style-position: inside;
    font-size: 0.9rem;
  }
</style>
