---
const {} = Astro.props;
---

<section id="rozklad-jazdy">
  <h2>Rozkład jazdy</h2>
  <p>Tutaj znajdzie się treść sekcji rozkład jazdy.</p>
</section>

<style>
  section {
    min-height: 100vh;
    padding-top: 5rem; /* To avoid content being hidden behind the fixed header */
  }
</style>
